.card-custom {
  border: none; /* Remove Bootstrap's border */
  position: relative; /* Added to manage child element positions */
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.7); /* Add shadow for separation */
}

.card-custom .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.card-custom h4 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 10px;
}

.card-custom .additional-info {
  text-align: center;
  display: block; /* Change display to block to make it always visible */
}

.card-custom p {
  color: #fff;
}

.female-introduction {
  background: url("../img/moving-out.svg") no-repeat center;
  background-size: cover;
  background-position: center center; /* Center the image */
  min-height: 813.5px;
  margin-top: 81px;
}

.female-introduction-mobile {
  background: url("../img/women.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  background-position: center center; /* Center the image */
  min-height: 813.5px;
  margin-top: 81px;
}

.section-first {
  position: relative;
  background: url("../img/hero-img.jpg") no-repeat center center;
  background-size: cover;
  min-height: 809px;
  overflow: hidden;
  /* Ensure the overlay doesn't overflow */
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* Adjust the alpha value for the desired opacity */
  z-index: 1;
  /* Ensure the overlay is above the background image */
}

.section-first .container {
  position: relative;
  z-index: 2;
  /* Ensure the text is above the overlay */
  color: white;
  /* Adjust text color for readability */
  text-align: center;
  padding: 20px;
}

#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  z-index: 999;
}

#scrollTopBtn:hover {
  background-color: #0056b3;
}

.section-second {
  position: relative;
  background: url("../img/section-2.webp") no-repeat center fixed;
  background-size: cover;
  min-height: 700px;
  overflow: hidden;
  /* Ensure the overlay doesn't overflow */
}

.section-second::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/section-2.webp") no-repeat center fixed;
  background-size: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* Adjust the alpha value for the desired opacity */
  z-index: 1;
  /* Ensure the overlay is above the background image */
}

.section-second .container {
  position: relative;
  z-index: 2;
  /* Ensure the text is above the overlay */
  color: white;
  /* Adjust text color for readability */
  text-align: center;
  padding: 20px;
}

.card-call-to-action {
  min-width: 500px;
}

.p-contact {
  font-size: 38px;
}

.circles {
  border: 5px dotted orange;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circles p {
  margin: 0;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .card-call-to-action {
    min-width: 100%;
  }
  .p-contact {
    font-size: 24px;
  }
  .female-introduction {
    min-height: 400px; /* Adjust the height for smaller screens */
  }
  .female-introduction-mobile h1 {
    font-size: 40px;
  }
  .female-introduction-mobile .margin {
    margin-bottom: 75px;
  }
  .female-introduction-mobile .catch {
    font-weight: bolder;
    margin-top: 210px;
  }
}
/* Responsive adjustments for smaller screens *//*# sourceMappingURL=main.css.map */